/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_light {
  --accent-color-header: var(--accent-default-two, #353430);
  --color-tittle-dark: var(--color-pink-l, #FFC2E6);
  --color-title-shadow-light: 4px 4px 0 var(--color-header-pink, #ff8dcb);
  --color-text-desc-header: var(--accent-default-two, #353430);
  --color-bg-text-desc-header: var(--color-header-pink, #ff8dcb);
  --color-main-title: var(--accent-default-two, #353430);
  --color-main-subtitle: var(--accent-default-two, #353430);
  --color-bg-main: var(--color-header-pink, #ff8dcb);
  --color-main-text: var(--accent-default-two, #353430);
  --accent-color-bg:  var(--color-bg-d);
  --color-footer-title: var(--color-pink-l, #FFC2E6);
  --text-shadow-footer-light: 2px 2px 0 var(--color-header-pink, #ff8dcb);
  --background-image: var(--bg-light);
  --color-text-shadow-main_text_link: var(--color-header-pink, #ff8dcb);
  --border-hover-light: 1px solid rgba(50, 49, 45, 0.4);
  --color-title-shadow-dark: 4px 4px 0 var(--color-default, #FF0070);
  --text-shadow-footer: 2px 2px 0 var(--color-default, #FF0070);
  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color-header: var(--accent-default-two, #353430);
    --color-tittle-dark: var(--color-pink-l, #FFC2E6);
    --color-title-shadow-light: 4px 4px 0 var(--color-header-pink, #ff8dcb);
    --color-text-desc-header: var(--accent-default-two, #353430);
    --color-bg-text-desc-header: var(--color-header-pink, #ff8dcb);
    --color-main-title: var(--accent-default-two, #353430);
    --color-main-subtitle: var(--accent-default-two, #353430);
    --color-bg-main: var(--color-header-pink, #ff8dcb);
    --color-main-text: var(--accent-default-two, #353430);
    --accent-color-bg:  var(--color-bg-d);
    --color-footer-title: var(--color-pink-l, #FFC2E6);
    --text-shadow-footer-light: 2px 2px 0 var(--color-header-pink, #ff8dcb);
    --background-image: var(--bg-light);
    --color-text-shadow-main_text_link: var(--color-header-pink, #ff8dcb);
    --border-hover-light: 1px solid rgba(50, 49, 45, 0.4);
    --color-title-shadow-dark: 4px 4px 0 var(--color-default, #FF0070);
    --text-shadow-footer: 2px 2px 0 var(--color-default, #FF0070);
    --rec-visibility: hidden;
  }
}




