/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/**/
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  max-width: 1024px;
  background-attachment: fixed;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* {
 margin: 0 auto;
}

body {
  font-family: "IBM Plex Mono", serif;
  background-color: var(--accent-color-bg);
}

.header {
  height: 100dvh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 375px 1fr;
  margin-block-end: 60px;

}

.header_container {
  max-width: 1024px;
  display: flex;
  width: 100%;
}

.header__theme-menu-list {
  display: flex;
  color: var(--accent-color-header);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  padding-block-start: 22px;

}

.header__theme-menu-item {
  width: 79px;
}

.main_wrapper {
  width: 63.5%;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 67px;
  height: 22px;
}

.header_rec {
  text-transform: uppercase;
  color: var(--accent-color-header);
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  position: absolute;
  top: 20px;
  right: 48px;
  visibility: var(--rec-visible);
}

.header_rec::after {
  content: "";
  background-color: var(--accent-color-header);
  box-shadow: 0 0 4px 2px #ff0070;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  left: 43px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  border-top: 1px solid var(--accent-color-header);
  border-right: 1px solid var(--accent-color-header);
  height: 24px;
  width: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  content: "";
  border-top: 1px solid var(--accent-color-header);
  border-right: 1px solid var(--accent-color-header);
  height: 24px;
  width: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: rotate(180deg);
}

.header_title {
color: var(--color-tittle-dark);
text-shadow: var(--color-title-shadow-dark);
font-weight: 700;
line-height: 83%;
margin-block-start: 276px;
}

.text_description {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-text-desc-header);
  background-color: var(--color-bg-text-desc-header);
  max-width: 491px;
  height: auto;
  margin-block-start: 113px;
  margin-inline-start: 492px;
}

.main {
  display: flex;
  margin-block-end: 60px;
}

.main_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-main-title);
  max-width: 314px;
  margin-inline-start: 19px;
}

.main_subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-main-subtitle);
  background-color: var(--color-bg-main);
}

.main_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-main-text);
  margin-block-end: 20px;
  margin-block-start: 10px;
}

.article_item {
  max-width: 649px;

}

.concentration {
  display: flex;
  flex-direction: column;
}

.wrapper_complementary {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-block-start: 20px;
  flex-wrap: wrap;

}

.item_complementary {
  max-width: 315px;
}

.main_golden_fish_subtitle_bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-main-subtitle);
  background-color: var(--color-bg-main);
  margin: 0 0 20px 1px;
}

.gallery_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-main-subtitle);
  background-color: var(--color-bg-main);
  margin: 60px 20px 20px 20px;
}

.gallery_photo {
  display: grid;
  grid-template-areas:
      "photo_1 photo_1 photo_2"
      "photo_3 photo_4 photo_2"
      "photo_3 photo_5 photo_5";
  gap: 20px;
  max-width: 983px;
  height: 1048px;
  margin: 0 auto;
}

.photo {
  background-position: center;
  background-size: cover;
  margin: 0;
}

.photo_1 {
  grid-area: photo_1;
  background-image: url(../images/sunset.png);
  height: 260px;
}
.photo_2 {
  grid-area: photo_2;
  background-image: url(../images/ice-cream.png);
  height: 595px;
}
.photo_3 {
  grid-area: photo_3;
  background-image: url(../images/tape.png);
  height: 768px;
}
.photo_4 {
  grid-area: photo_4;
  background-image: url(../images/books.png);
  height: 315px;
}
.photo_5 {
  grid-area: photo_5;
  background-image: url(../images/street.png);
  height: 428px;
}

.footer {
  height: 100vh;
  min-height: 668px;
  margin-block-start: 60px;
  position: relative;
}

.footer_text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 157px;
  line-height: 83%;
  color: var(--color-footer-title);
  text-shadow: var(--text-shadow-footer);
  padding: 319px 0 0px 0;
}

.main_text_link:focus-visible {
  outline: 1px solid var(--color-main-text);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color-header);
  pointer-events: none
}

.header__theme-menu-button:hover {
  border: var(--color-hover-border);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: var(--color-hover-border);
}

.main_text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-text-shadow-main-text-link) ;
}

.main_text_link:hover {
  border-bottom: 1px solid var(--color-main-text);
}



@media (width >= 1024px) {
  .wrapper_complementary {
    justify-content: start;
    gap: 20px;
    margin-left: 20px;
  }
  .article_item {
    margin: 0;
  }
}




@media (max-width: 768px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  .header__theme-menu {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    margin-block-start: 171px;
    margin-inline-end: 15px;
  } 

  .header__theme-menu-button {
    height: 20px;
  }

  .decorated-zone::after {
    top: 980px;
  }

  .header {
  height: 100dvh;
  }

  .main_golden_fish_subtitle_bold {
    width: 92%;
    margin-inline-start: 21px;
  }

  .header_title {
    margin-block-start: 178px;
  }

  .header_description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 384px;
    margin-block-start: 62px;
  }

  .text_description {
    margin-inline-end: 20px;
    max-width: 364px;
    width: 100%;
    margin: 0;
  }

  .concentration {
    width: 99%;
}

.main_wrapper {
  width: 82%;
}

.wrapper_complementary {
  flex-direction: column;
  width: 96%;
}

.article_item {
  max-width: 472px;
}

.item_complementary {
  max-width: 728px;
}

.main_title {
  width: 38%;
}

.title_complementary {
  width: 30%;
}

  .gallery_photo {
    width: 95%;
    height: 777px;
  }

  .photo_1 {
    height: 192px;
  }
  .photo_2 {
    height: 441px;
  }
  .photo_3 {
    height: 568px;
  }
  .photo_4 {
    height: 230px;
  }
  .photo_5 {
    height: 318px;
  }

  .footer {
    margin: 63px 0 0px 0;
    position: relative;
    height: 1024px;
  }
  
  .footer_text {
    font-weight: 700;
    font-size: 120px;
    line-height: 83%;
    color: var(--color-footer-title);
    text-shadow: var(--text-shadow-footer);
    margin-block-start: 45px;
    padding-top: 463px;
  }

}

@media (max-width: 769px) {
  .decorated-zone::after {
    top: 781px;
}
}


@media (max-width: 750px) {
  .header_description {
    margin: 0;
  }
  .text_description {
    margin: 0;
  }
}


@media (max-width: 575px) {
  .header_title {
    margin-block-start: 42px;
}
}


@media (max-width: 375px) {
  .header {
    min-height: 100dvh;
    height: 668px; 
    margin-block-end: 40px;
  }
  .header__theme-menu {
    margin-block-start: 54px;
    margin-inline-end: 7px;
  }

  .header_rec {
    top: 10px;
    right: 39px;
}

.main_golden_fish_subtitle_bold {
  width: 100%;
  margin-inline-start: 0px;
  margin-block-start: 0px;

}

.decorated-zone::before {
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  top: 634px;
  left: 10px;
}


.header_title {
  margin-block-start: 69px;
  margin-inline-start: 10px;
}

.header_description {
  margin-block-start: 53px;
  margin-inline-start: 9px;
  width: 95%;
  display: inline;
  }

  .main {
  display: flex;
  flex-direction: column;
  margin-block-end: 0px;
}

.title_complementary {
  margin-block-start: 50px;
}

.title_indent {
  margin: 50px 0 20px 0;
}

.main_title {
  margin-inline-start: 9px;
  width: 95%;
  max-width: 355px;
}

.main_wrapper {
  width: 94%;
}

.wrapper_complementary {
  margin-block-start: 0px;
}

.main_golden_fish_subtitle_bold {
  margin-block-end: 0px;
}

.article_item {
  max-width: 355px;
}

.main_subtitle {
  margin: 20px 0 10px 0;
}

.main_text {
  margin: 0;
}

.gallery {
  min-height: 1400px;
}

.gallery_title {
  margin: 50px 10px 10px 10px;
  width: 95%;
}

.gallery_photo {
  display: grid;
  grid-template-areas:
      "photo_1" 
      "photo_2"
      "photo_2" 
      "photo_2"  
      "photo_3"
      "photo_3"
      "photo_4" 
      "photo_4" 
      "photo_4" 
      "photo_5" 
      "photo_5";
  gap: 10px;
  max-width: 983px;
  min-height: 1048px;
  margin: 0 auto;
}
.photo {
  background-position: center;
  background-size: cover;
  margin: 0;
}
.photo_1 {
  grid-area: photo_1;
  background-image: url(../images/sunset.png);
  height: 142px;
}
.photo_2 {
  grid-area: photo_2;
  background-image: url(../images/ice-cream.png);
  height: 355px;
}
.photo_3 {
  grid-area: photo_3;
  background-image: url(../images/tape.png);
  height: 237px;
}
.photo_4 {
  grid-area: photo_4;
  background-image: url(../images/books.png);
  height: 355px;
}
.photo_5 {
  grid-area: photo_5;
  background-image: url(../images/street.png);
  height: 237px;
}

.footer_text {
  margin-block-start: 5px;
  font-size: 116px;
  padding: 0;
  padding-block-start: 286px;
}

.footer {
  margin: 40px 0 0px 0;
  max-height: 668px;

}

}


@media (width < 1024px) {
  .header_title {
    color: var(--color-tittle-dark);
    text-shadow: var(--color-title-shadow-light);
  }
  .footer_text {
    text-shadow: var(--text-shadow-footer-light);
  }

}



@media (width > 375px) {
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width <= 375px) {
  .header_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  }
