/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {

                          /*темная тема*/
  --color-default: #FF0070; /* основной цвет темной темы в header */
  --color-pink: #db00ff; /*цвет заголовка темной темы*/
  --color-black: #000028; /*цвет текста для header после заголовка*/
  --color-pink-d: #F1B2CE; /*цвет текста в теге p в классе main_text*/
  --bg-dark: url(/images/cover-image-dark.png); /*фон сайта*/
  --border-hover-dark: 1px solid rgba(255, 0, 112, 0.4); /*бордер для навигации при hover*/

                          /*светлая тема*/
  --accent-default-two: #353430; /* основной цвет светлой темы в header */
  --color-pink-l: #FFC2E6; /*цвет заголовка светлой темы*/
  --color-header-pink: #FF8DCB; /*цвет фона текста в header после заголовка*/
  --color-black-l: #353430; /*цвет текста заголовка в теге main*/
  --color-bg-d: #FFEEF6; /*цвет фона бакграунд для всего сайта*/
  --bg-light: url(/images/cover-image-light.png); /*фон сайта*/
  --border-hover-light: 1px solid rgba(50, 49, 45, 0.4); /*бордер для навигации при hover*/
  --rec-visibility: visible;


  --color-tittle-dark: var(--color-pink, #db00ff);
  --color-title-shadow-dark: 4px 4px 0 var(--color-default, #FF0070);
  --accent-color-header: var(--color-default, #FF0070);
  --color-title-shadow-light: 4px 4px 0 var(--color-default, #FF0070);
  --color-text-desc-header: var(--color-black, #000028);
  --color-bg-text-desc-header: var(--color-default, #FF0070);
  --color-main-title: var(--color-default, #FF0070);
  --color-main-subtitle: var(--color-black, #000028);
  --color-bg-main: var(--color-default, #FF0070); 
  --color-main-text: var(--color-pink-d, #F1B2CE);
  --accent-color-bg: var(--color-black, #000028);
  --color-footer-title: var(--color-pink, #db00ff);
  --text-shadow-footer: 2px 2px 0 var(--color-default, #FF0070);
  --text-shadow-footer-light: 2px 2px 0 var(--color-default, #FF0070);
  --background-image: var(--bg-dark); 
  --color-text-shadow-main_text_link: var(--color-default, #FF0070);
  --color-hover-border-dark: 1px solid rgba(255, 0, 112, 0.4); 
  --rec-visibility: visible;

}

